@mixin button {
  font-family: "Rubik", sans-serif !important;
  text-transform: uppercase !important;
  font-size: 15px !important;
  color: white !important;
  background-color: #fbc84d !important;
  &:hover {
    background-color: #f06944 !important;
    text-decoration: none !important;
  }
  border-radius: 50px !important;
  padding: 13px 35px !important;
}

$transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);

@mixin searchbar {
  width: 100%;
  position: relative;
  border: 2px solid #e7e7e7;
  padding-left: 15px;
  input {
    &,
    &::placeholder {
      font-family: "Rubik", sans-serif;
      font-weight: 400 !important;
      font-size: 14px !important;
      color: #272727 !important;
    }
  }
  .media-boxes-icon {
    background: #33a6ef;
    position: absolute;
    right: 0px;
    top: 0;
    height: 37px;
    width: 37px;
    &,
    &::before {
      color: white !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding-right: 13px;
    }
  }
}

@mixin dropdown {
  width: 100%;
  position: relative;
  border: 2px solid #e7e7e7;
  padding-left: 3px;
  .media-boxes-drop-down-header,
  .filters li a {
    font-family: "Rubik", sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #272727 !important;
  }
  .fa-sort-down {
    background: #33a6ef;
    position: absolute;
    right: -4px;
    top: 0;
    height: 37px;
    width: 37px;
    &,
    &::before {
      color: white !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding-right: 5px;
      padding-top: 0px;
    }
    &::before {
      margin-top: -2px;
    }
  }
  .filters .cat-item a:hover {
    background: #33a6ef !important;
    color: white !important;
  }
}

.hidden {
  display: none;
}

@mixin form {
  .gform_wrapper {
    background: #e7e7e7;
    padding: 40px 35px;
  }

  .gform_footer.top_label {
    padding: 0 !important;
  }

  .gform_wrapper form {
    padding: 0 !important;
    margin: 0 !important;
    input[type="text"],
    textarea {
      border: 2px solid #d9d9d9 !important;
      padding-left: 15px;
      border-radius: 2px;
      &,
      &::placeholder {
        font-family: "Rubik", sans-serif;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #272727 !important;
      }
    }
    input[type="submit"] {
      @include button;
      border: none;
      box-shadow: none;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  h2.gform_submission_error.hide_summary {
    font-size: 10px !important;
    line-height: 13px;
  }

  div#validation_message_1_1 {
    font-size: 10px !important;
  }
}

.wp-block-button__link {
  @include button;
  margin-top: 30px;
}

body:not(.home) {
  .content {
    padding-top: 0 !important;
  }
  .main-container > section > .container > .row > .col-md-8.about-body {
    padding-bottom: 78px;
  }
}

aside#secondary {
  padding-bottom: 50px;
}

section#home-offers .blog-box a.button:hover {
  color: #fbc84d !important;
}

a.sub-menu-link:hover {
  color: #fbc84d !important;
}

.page-template-template-news-events i.fa.fa-angle-up {
  margin-left: 10px;
}

.search h1 {
  margin-bottom: 0 !important;
}

.noImage img {
  object-fit: contain !important;
  background: #eee;
  padding: 50px;
}

#fun-facts h2 {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  #gform_wrapper_3 input {
    width: 100% !important;
  }
  #header #primary-nav #mobile-menu ul:not(.sub-menu) li {
    text-align: left !important;
  }

  ul.sub-menu {
    display: none !important;
  }

  .menu-item-has-children:hover > ul.sub-menu {
    display: block !important;
  }

  ul#menu-mobile-navigation {
    /* width: 100%; */
  }

  .menu-mobile-navigation-container {
    width: 80%;
  }

  #header #primary-nav #mobile-menu ul.sub-menu {
    left: 0;
    padding-left: 0 !important;
  }

  #header #primary-nav #mobile-menu ul a {
    padding-left: 0;
  }

  .menu-item-has-children .menu-item {
    margin-bottom: 10px !important;
  }
  #header #primary-nav #mobile-menu ul a {
    padding: 0 !important;
  }
  #menu-mobile-navigation > .menu-item-has-children > a::after {
    content: "\f0d7";
    margin-left: 10px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
  }

  #menu-mobile-navigation > .menu-item-has-children:hover > a::after {
    content: "\f0d8";
  }

  #menu-mobile-navigation > .menu-item-has-children > a {
    line-height: 19px;
  }

  #menu-mobile-navigation > .menu-item {
    margin-bottom: 30px !important;
  }
}

.template-news-events {
  .card {
    margin-bottom: 40px;
  }
}

.page-template-template-blog .pagination-custom span {
  font-size: 15px !important;
  padding: 0 7px !important;
}

span.secondHalf {
  padding: 0 !important;
}

.pagination-custom {
  flex-wrap: nowrap !important;
}

.custom-cta {
  padding-top: 50px !important;
  padding-left: 120px !important;
  padding-right: 100px !important;
}

.custom-cta img {
  object-fit: contain !important;
  background: #153355;
}

.custom-cta a {
  border: none !important;
}

.custom-cta .wp-block-column {
  flex-basis: 100% !important;
}

.template-leadership span.small-creds {
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
  display: block;
}

.single-leadership .noImage {
  display: none !important;
}

.single-leadership .slick-slide.oneImage img {
  object-position: right !important;
  margin: 0 !important;
  width: 100% !important;
  object-fit: contain;
}

.footer-left-side .footer-row-two a {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .dropdown-menu-wrapper {
    margin-top: -50px !important;
    padding-top: 60px !important;
  }

  .dropdown-menu-custom::before {
    top: 50px !important;
  }

  .top-level-nav-item:nth-child(2) .dropdown-menu-wrapper {
    margin-top: -41px !important;
  }

  header .section {
    margin-bottom: 0 !important;
    padding-bottom: 8 !important;
    padding-top: 8px !important;
  }
}

@media (max-width: 768px) {
  .page-template-template-leadership #grid .leader-emblem img {
    height: 250px !important;
    object-position: left !important;
    object-fit: contain !important;
  }

  .page-template-template-leadership .media-box-logo {
    text-align: left;
  }
}

.sidebar-offer:nth-last-child(2):nth-child(1) {
  margin-bottom: 50px;
}

.page-template-template-blog .excerpt {
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}

.page-template-template-blog .post-footer {
  display: none !important;
}
