.slide-img {
  height: 100%;
}

.slide-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-header:not(.active) .loading-bar-wrapper > div {
  display: none !important;
}

/* Loading Bar */
.loading-bar-root,
.loading-bar-wrapper {
  > div > div > div {
    background-color: #da1b1b !important;
    height: 5px !important;
  }

  > div > div {
    border-radius: 0 !important;
    height: 5px !important;
    background-color: #e8e8e8 !important;
  }
}

.slide-txt .loading-bar-root {
  max-width: 271px;
  position: relative;
  top: 40px;
}
/* End Loading Bar */

/* Navbar */

section#right-side {
  width: auto !important;
}

.container.d-flex.flex-row {
  justify-content: flex-end;
}

nav#socials i {
  font-size: 16px;
}

#header #utility-menu #socials ul li {
  margin: 0;
}

ul#menu-utility-nav {
  padding-left: 18px;
}

#header #utility-menu ul li,
#header #utility-menu ul li a,
#header #utility-menu form input,
#header #utility-menu form input::placeholder {
  letter-spacing: 1px;
  font-size: 0.8rem;
}

nav#utility {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

#utility-menu > .container.d-flex.flex-row {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

#header #primary-nav #primary ul li a {
  font-size: 1rem !important;
  font-weight: 600;
  letter-spacing: 1px !important;
  padding: 0 17px;
  @media (max-width: 994px) {
    font-size: 0.7rem !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
    padding: 0 10px !important;
  }
}

#primary-nav > .container:nth-child(1) > a:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
}

#primary-nav > .container.d-flex.flex-row {
  position: relative;
}

img.site-logo {
  margin: 0 !important;
  height: 167px !important;
}

nav#primary {
  padding: 30px 0px;
}

section#primary-nav {
  border-bottom: 10px solid #f1f1f1;
  padding: 0 !important;
}

@media (max-width: 768px) {
  section#primary-nav {
    height: 109px !important;
  }
  #utility-menu .container.d-flex.flex-row {
    justify-content: center !important;
  }
  #header #primary-nav .site-logo {
    max-width: 100px !important;
  }

  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    background-color: #a8a8a8 !important;
    border-radius: 0 !important;
  }

  #primary-nav > .container:nth-child(1) > a:nth-child(1) {
    left: 50px;
  }

  #header #utility-menu #utility {
    display: block !important;
  }

  header form {
    display: none;
  }

  .container.d-flex.flex-row {
    padding-bottom: 0;
    padding-top: 15px;
  }

  #header #utility-menu ul li,
  #header #utility-menu ul li a {
    font-weight: 400 !important;
  }
}

/* End Navbar */

/* Section Header */
.section-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  top: -30px;
  p.section-header {
    background: #5999ac;
    display: inline-block;
    font-family: "Poppins";
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 12px 80px;
  }
}

/* End Section Header */

/* Buttons */

a.button {
  background: black !important;
  border-radius: 0 !important;
  padding: 8px 21px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: white;
}

a.red {
  background: #650000 !important;
}

a.red::after {
  background-color: #990000 !important;
}

a.arrow {
  padding-right: 70px;
  position: relative;
}

a.arrow::after {
  content: "";
  background-color: #3f3f3f;
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://spire.hingedev.com/wp-content/uploads/2021/03/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

/* End Buttons */

@include phone {
  .desktopOnly {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .mobileOnly {
    display: none !important;
  }
}
.owl-controls {
  display: none !important;
}

svg#logo {
  height: 167px;
  filter: drop-shadow(7px 7px 0.2rem rgba(0, 0, 0, 0.3));
}

.disabled .home-slider .slide-txt a:not(.disableAnimation):hover::after,
.disabled .button.arrow:not(.disableAnimation):hover::after {
  width: 0;
}

.button.red:hover,
.home-slider .slide-txt a:not(.disableAnimation):hover,
.button.black:not(.disableAnimation):hover {
  color: white !important;
}

.disabled .home-slider .slide-txt a:not(.disableAnimation)::after,
.disabled .button.arrow:not(.disableAnimation)::after {
  transition: $transition;
}
.disabled .home-slider .slide-txt a:not(.disableAnimation):hover,
.disabled .button.arrow:not(.disableAnimation):hover {
  padding-right: 45px;
  padding-left: 45px;
}

.disabled .home-slider .slide-txt a:not(.disableAnimation),
.disabled .button.arrow:not(.disableAnimation),
.disabled .button:not(.disableAnimation) {
  transition: $transition;
  text-decoration: none !important;
  padding-right: 70px;
  text-align: left;
}

.home-slider .slide-txt a,
.button,
a.btn.button.arrow.red.btn-default.btn-orange {
  transition: $transition !important;
  &::after {
    transition: $transition !important;
  }
  &:hover {
    transition: $transition !important;
    background-color: #2c697c !important;
    text-decoration: none !important;
    &::after {
      background-color: #7297ab !important;
      transition: $transition !important;
    }
  }
}
.section-header,
.project.small {
  cursor: pointer;
}
a.disableAnimation:hover {
  text-decoration: none;
}

p.section-header {
  transition: 0.2s ease;
}

p.section-header:hover {
  padding: 12px 90px;
}

#experience .image-wrapper {
  max-height: 454px;
  overflow-y: hidden;
}

#experience img.image {
  object-position: center;
}

#experience,
#experience * {
  transition: 0.2s ease;
}

@media (min-width: 1600px) {
  @keyframes shrink {
    0% {
      background-size: auto 200%;
    }
    100% {
      background-size: auto 210%;
    }
  }
}

@media (max-width: 1599px) {
  @keyframes shrink {
    0% {
      background-size: auto 150%;
    }
    100% {
      background-size: auto 160%;
    }
  }
}

@media (min-width: 2300px) {
  @keyframes shrink {
    0% {
      background-size: auto 250%;
    }
    100% {
      background-size: auto 260%;
    }
  }
}
.slide-img {
  overflow-x: hidden;
}
.sub-slide-img,
.movingBg {
  height: 100%;
  width: 100%;
  background-position: center;
  object-position: center;
  animation: shrink 15s infinite alternate;
  background-repeat: no-repeat;
}

#header #utility-menu ul li a:hover {
  color: black !important;
  text-decoration: none !important;
}

.slide-img {
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
}

a.button.arrow.black:not(.mobileOnly) {
  display: block;
}

.section-wrapper > p.section-header {
  font-family: "Poppins", sans-serif !important;
}

@include phone {
  .section-wrapper p.section-header {
    padding: 12px 20px;
    font-size: 18px;
  }
}
@media (max-height: 750px) {
  a.site-logo-svg svg {
    width: 100px;
    margin-top: -20px;
  }
}

@include phone {
  svg#logo {
    height: 136px;
    margin-top: 15px;
  }
}

body.home {
  .slide-img,
  .sub-slide-img {
  }
}

.movingBg {
  background-image: url(http://spire.hingedev.com/wp-content/uploads/2021/04/Homepage-Header.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.cta-wrapper {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.owl-slide {
  max-height: 100vh;
}

.banner.home-slider {
  max-height: 100vh;
}

.slide.active {
  height: 471px;
  max-width: 800px;
  background-size: cover;
}

.about-body {
  h1 {
    line-height: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000 !important;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7em;
    color: #990000;
  }

  hr.wp-block-separator {
    max-width: 100% !important;
    color: #ededed;
    margin: 30px 0;
  }

  h3 {
    font-weight: 500;
    color: #990000 !important;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
  }

  p {
    line-height: 1.8em !important;
    font-family: "Open Sans", sans-serif;
    font-size: 17px !important;
    margin-bottom: 35px;
  }

  h4 {
    font-family: "Poppins", sans-serif !important;
    line-height: 1.3em;
    text-transform: uppercase;
    font-size: 17px !important;
    letter-spacing: 1px;
    color: #5999ac;
  }

  h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #020202;
  }

  h6 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: #020202;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
  }

  ul li {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    color: #000000;
    padding-bottom: 8px;
  }

  ul {
    list-style-type: disc;
    list-style-image: url(https://spire1.hingedev.com/wp-content/uploads/2021/03/trianglebullet.png);
    padding-left: 18px;
    margin-bottom: 30px;
  }

  blockquote p {
    color: #ffffff;
    margin-left: 26px;
    margin-right: 26px;
    font-style: normal;
    text-align: left;
    margin-bottom: 13px;
    line-height: 1.8em !important;
    font-family: "Open Sans", sans-serif;
    font-size: 17px !important;
  }

  blockquote footer {
    margin-left: 26px;
    color: #f12828;
    text-align: left;
  }

  blockquote {
    color: #3498db;
    font-style: italic;
    border-top-color: #c0392b;
    border-top-width: 0px;
    background-color: #990000;
    margin-left: 0px;
    border-top: 1px solid;
    border: 0px;
    padding: 25px 0px;
    margin-right: 35px;
    font-size: 21px !important;
  }
}

aside .navigation > a {
  text-transform: uppercase;
  font-size: 20px !important;
  color: #c0392b !important;
  letter-spacing: 2px !important;
  line-height: 1.1em;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}

aside li a {
  line-height: 2em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 500;
}

aside ul li {
  margin: 15px 0px;
}

aside ul {
  list-style: none;
  padding-left: 0;
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

span.wrapper {
  line-height: 1.8em !important;
  font-family: "Open Sans", sans-serif;
  font-size: 17px !important;
  margin-bottom: 35px;
}

aside .portfolio-content h5 {
  font-family: "Poppins";
  color: #990000;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 6px;
}

.portfolio-content p {
  font-family: "Open Sans", sans-serif;
  display: block;
  font-size: 14px;
  margin-bottom: 70px;
}

.portfolio-content {
  border: none !important;
  background: #f0f0f0 !important;
  position: relative;
}

a.btn.btn-default.btn-orange.button.arrow.red {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

aside > .navigation > ul {
  margin-bottom: 70px;
}

.page-template-template-news-events {
  .news-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: #c0392b;
    border-bottom-width: 1px;
    border-bottom: solid 2px #e8e8e8;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  a.news-url {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 0px;
  }

  .col-md-12 {
    font-family: "Poppins", sans-serif;
    color: #848484;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
}

.page-template-template-projects {
  .project-filter {
    background-color: #f0f0f0 !important;
  }

  h5.area-title {
    font-family: "Poppins", sans-serif !important;
    letter-spacing: 1.5px !important;
    margin-bottom: 11px !important;
    color: #727272 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 500;
  }

  .media-boxes-drop-down-header,
  .media-boxes-search,
  .media-boxes-search::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 12px;
    margin: 0 !important;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 15px !important;
    text-decoration: none;
    background-color: #fff;
    color: #444444;
  }

  .media-boxes-search {
    display: inline-block !important;
    position: relative; /* top: 14px; */
    height: auto;
  }

  .media-boxes-search .media-boxes-clear {
    /* margin-top: -16px; */
    line-height: 0 !important;
    height: unset !important;
    color: black !important;
  }

  .project-filter {
    padding-top: 24px !important;
  }

  input#search,
  input#search::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 12px;
    text-decoration: none;
    color: #444444;
  }

  .project-filter {
    width: 100%;
  }

  .media-boxes-drop-down {
    width: 200px !important;
  }
  .proj-item.title.searchtitle {
    color: #000000 !important;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .media-box img {
    height: 192px;
    object-fit: cover;
    object-position: center;
    max-width: 293px;
  }
  .jpt-box,
  .jpt-box * {
    border-radius: 0 !important;
  }

  .media-box-container {
    border-radius: 0 !important;
    margin-bottom: 75px !important;
  }

  .proj-item.title.searchtitle {
    font-weight: 600;
  }

  .title-location {
    margin-top: 15px;
  }
  .main-container.ajax-filter-container.about-body {
    width: 100%;
  }
  .title-location {
    max-width: 293px;
  }
  .filters-container {
    margin-top: 30px;
  }
  .project-filter {
    margin-top: 100px;
  }
}
#sticky-sections .content {
  padding-top: 0;
}

.single-project {
  .thumb-slide img {
    width: 150px;
    height: 115px;
    object-fit: cover;
    background-color: #eee;
    margin-right: 8px;
    object-position: left;
  }

  .slideset {
    display: flex;
    overflow-x: hidden !important;
  }

  .mask {
    overflow-x: hidden;
  }

  .thumb-active img::after {
    /* position: absolute; */
    /* content: ''; */
    /* top: 0; */
    /* left: 0; */
    width: 150px;
    height: 80px;
    background-color: red;
  }

  .thumb-active img {
    position: relative;
  }

  .thumb-slide.active.thumb-active {
    position: relative;
  }

  a.btn-thumb-prev.disabled {
    display: none;
  }

  a.btn-thumb-next {
    display: none;
  }

  .thumbnails.gallery-js-ready.autorotation-disabled {
    margin: 30px 0;
  }

  .visual.gallery-visual {
    margin: 30px 0;
  }

  aside > .navigation > h5 {
    font-weight: 500;
    color: #990000;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.3em;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .navigation {
    line-height: 1.8em !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px !important;
    margin-bottom: 35px;
  }

  aside .navigation > p {
    margin-bottom: 0 !important;
  }

  .portfolio-content-wrapper.sidebar-box.sidebar-offer {
    margin-top: 50px;
  }
  aside h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    margin-top: 60px;
  }
}
.no-arrow {
  padding-right: 21px !important;
}
.page-template-template-library {
  h5.ftr-content-title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif !important;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 25px;
  }

  .featured-content-wrapper.sidebar-box {
    background: #990000 !important;
    padding: 35px 50px;
    padding-bottom: 80px;
  }

  .fpo-img.pull-left {
    max-width: 39%;
    margin-right: 30px;
  }

  .fpo-img.pull-left img {
    width: 100%;
    height: 207px;
    object-fit: cover;
  }

  .about-body h4 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif !important;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
  }
  .slide-img.banner-bg-img {
    background-size: cover !important;
  }
  .featured-content p {
    color: white;
    font-size: 15px !important;
    font-weight: 300;
    line-height: 25px !important;
  }
  .library-category h5 {
    color: #990000;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 10px !important;
  }

  .library-category img {
    max-height: 175px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }

  h3.item-title-tag {
    line-height: 1.6em !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
    color: black !important;
    letter-spacing: normal !important;
  }

  .library-category > p {
    display: none;
  }

  .latest-post-selection {
    margin-top: 30px;
    padding-bottom: 60px;
    border-bottom: 3px solid #eee;
  }

  .featured-content-wrapper.sidebar-box {
    margin-bottom: 75px;
  }

  .see-all-link a {
    color: #666;
    letter-spacing: 1.5px;
    margin-bottom: 10px !important;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 17px;
    right: 17px;
  }
}

.page-template-template-blog,
.page-template-template-whitepapers .archive {
  .blogs.col-md-9 {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100%;
    padding-left: 0;
    padding-right: 0 !important;
  }

  .excerpt {
    display: none;
  }

  .imageSpacer {
    height: 130px;
    background: #ddd;
    margin-bottom: 10px;
  }

  .post a {
    line-height: 20px !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
    color: black !important;
    letter-spacing: normal !important;
  }

  .author,
  .date {
    line-height: 20px !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
    color: black !important;
    letter-spacing: normal !important;
    margin: 10px 0;
    margin-bottom: 0 !important;
  }

  .date {
    margin-top: 0 !important;
  }

  .post-footer {
    position: absolute;
    bottom: 0;
  }

  .col-md-4.post {
    margin-bottom: 50px;
    padding-bottom: 57px;
  }
  section#selectedCats {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 15px;
  }

  section#selectedCats span {
    background: red;
    text-transform: uppercase;
    font-size: 12px !important;
    color: white;
    letter-spacing: 2px !important;
    line-height: 1.1em;
    padding: 10px 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
    cursor: pointer;
  }

  section#selectedCats.hide {
    display: none;
  }
}

.single-post {
  p.author {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 12px !important;
    letter-spacing: 1px;
    color: #7a7a7a;
    font-weight: 500;
  }

  .wp-block-column p {
    font-family: "Open Sans", sans-serif !important;
    font-size: 15px !important;
  }

  hr {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  p.wrapper {
    display: none;
  }
  img.featured-image {
    margin-bottom: 40px;
    max-width: 100%;
    min-height: 400px;
    object-fit: cover;
  }

  p.author {
    margin-bottom: 15px;
  }
}

.page-template-template-whitepapers {
  h3 a {
    font-size: 22px !important;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    font-weight: 600;
    color: black !important;
  }

  a.btn.btn-default.btn-orange.button.red.no-arrow {
    margin-top: 20px !important;
  }

  .row.library-item {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #eee;
  }

  .library-thumb {
    padding-left: 0 !important;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 14px !important;
  }

  h1 {
    margin-bottom: 50px;
  }
  .library-thumb img {
    max-width: 100%;
    object-fit: cover;
  }
  .library-thumb img {
    max-height: 208px;
  }
  .row.library-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.single-library {
  strong {
    color: #990000;
    font-weight: 600;
  }

  hr {
    margin-bottom: 2rem;
    margin-right: 20px;
  }

  .about-body h4 {
    font-family: "Poppins", sans-serif !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    color: #ffffff;
  }

  .col-md-5 {
    background-color: #990000 !important;
  }
  .gform_body input,
  .gform_body input::placeholder {
    font-family: "Open Sans", sans-serif !important;
    border-color: #e5e5e5 !important;
    font-size: 12px !important;
    font-weight: 600;
    border: none !important;
    color: #6b6b6b !important;
    border-radius: 2px;
    padding-left: 10px;
    padding: 10px 7px !important;
  }

  .gfield {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .gform_wrapper {
    padding: 0 30px;
  }
  input#gform_submit_button_2 {
    background: black !important;
    border-radius: 0 !important;
    padding: 8px 21px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    color: white !important;
    box-shadow: none !important;
    border: none !important;
  }

  .col-md-5 {
    max-height: 700px;
  }
}

.cta-wrapper {
  filter: drop-shadow(7px 7px 0.2rem rgba(0, 0, 0, 0.3));
}

.slide-img.banner-bg-img {
  background-size: cover !important;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .col-md-8.col-md-offset-1.col-sm-8.body-txt.pull-right.about-body {
    margin-left: 0 !important;
    padding-left: 95px;
  }
}
#header #utility-menu ul li,
#header #utility-menu ul li a {
  line-height: 2px !important;
}

form {
  margin-bottom: 0 !important;
}

#header #primary-nav {
  padding: 8px 0 !important;
}
.post > img {
  height: 130px;
  background: #ddd;
  margin-bottom: 10px;
  max-width: 100%;
}

#experience .right-side .loading-bar-root {
  margin-bottom: 10px;
}

#experience a.button.arrow.red.desktopOnly:hover {
  background: #2c697c !important;
}

.disabled a.button.desktopOnly.arrow.red.disableAnimation:hover::after {
  background-color: #990000 !important;
  color: white !important;
}
span.project-excerpt {
  display: none;
}

#experience p.title {
  color: #990000 !important;
  font-size: 23px !important;
}
section#home-offers h5 a {
  font-size: 21px !important;
  letter-spacing: 1.3px !important;
}

section#home-offers h5 {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

section#home-offers a.button.arrow.red {
  font-size: 12px;
}
section#home-offers span.datentime {
  margin-bottom: 20px !important;
}

.col-md-8.about-body {
  padding-top: 70px !important;
}
.page-template-template-leadership .media-box-logo img {
  transform: none !important;
}

div#grid {
  margin-top: 30px;
}
span.main-quote {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-right: 80px;
}

.person-detail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.col-sm-5.col-sm-offset-1.col-xs-12.person-contact {
  padding-left: 0 !important;
  padding-right: 50px !important;
}

.card-header h5 a {
  font-family: "Poppins";
  color: #990000;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 6px;
}

div#heading1 {
  padding: 0;
  background: transparent;
  border: none;
}

.card {
  border: none !important;
  /* padding: 20px 0; */
}

.card-body {
  padding: 0 !important;
  margin: 10px 0;
}

.card-body ul li {
  font-weight: normal;
  margin-bottom: 10px;
}

.col-md-12.accordion-wrapper {
  padding: 0 !important;
}

.card-header {
  background: transparent !important;
  padding: 0 !important;
}

.card-body ul {
  margin-bottom: 0 !important;
}

.card-header h5 a {
  line-height: 69px;
}

body.logged-in:not(.home) .banner {
  margin-top: 109px;
}

.page-template-template-leadership .about-body {
  .media-boxes-drop-down {
    display: none;
  }

  .media-boxes-search {
    background: #f0f0f0 !important;
  }

  span.media-boxes-clear.fa.fa-close {
    display: none;
  }

  span.media-boxes-icon.fa.fa-search {
    float: right;
  }

  input#search {
    /* width: 205px; */
    max-width: unset;
    background: #f0f0f0;
    padding-left: 15px !important;
    min-width: 250px;
    margin-top: 15px;
  }

  input#search,
  input#search::placeholder {
    font-family: "Open Sans", sans-serif;
    color: #020202;
    font-size: 12px;
    font-weight: 600;
  }

  span.media-boxes-icon.fa.fa-search {
    background: #6797aa;
    width: 42px;
  }

  .fa-search:before {
    color: white;
    padding-left: 5px;
  }
  .media-boxes-search {
    margin-top: 15px;
  }
  .media-box-container {
    margin-left: 0 !important;
    padding-right: 20px;
    border-radius: 0 !important;
  }

  div#grid {
    margin-left: 0 !important;
  }
}

.share-links i {
  color: white;
  font-size: 21px;
  /* width: 200px; */
  padding: 11px;
  line-height: 15px;
}

.share-links li {
  display: inline-block;
  background: #606060;
  padding: 0 !important;
  border-radius: 6px;
}

.share-links ul {
  padding-left: 0;
  margin-top: 15px;
}
.single-leadership h2.leader-name {
  font-weight: 500;
  margin-bottom: 0 !important;
}

.card {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.card-body {
  border: none !important;
}

.card-header {
  border: none !important;
}

.card-header h5 a {
  line-height: normal;
}

.card-header h5 a.collapsed::after {
  content: "+";
}

.card-header h5 a::after {
  position: absolute;
  right: 20px;
  font-size: 34px;
  font-weight: 400 !important;
  top: 10px;
  color: #454545 !important;
}

.card-header h5 a:not(.collapsed)::after {
  content: "-";
}
.card {
  border-bottom: 2px solid #eee !important;
  border-radius: 0 !important;
}
.collapse.show {
  padding-right: 55px;
}
.person-detail {
  margin-bottom: 30px;
}

.page-template-template-news-events {
  .col-md-9 {
    font-family: "Poppins", sans-serif;
    color: #848484;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  img.news-thumb {
    max-width: 100%;
    max-height: 100%;
  }

  .col-md-2 {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .excerpt > p {
    text-transform: none !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #636363;
    font-weight: 300;
    margin-bottom: 0 !important;
  }
  .date {
    margin: 5px 0;
  }

  .excerpt > p {
    color: black !important;
  }
}
.addtoany_list a:not(.addtoany_special_service) > span {
  background-color: #818c8d !important;
}
aside li a.active {
  color: #c0392b !important;
}

aside li a:hover {
  text-decoration: none !important;
  color: #c0392b !important;
}
.page-template-template-projects .media-boxes-search {
  padding-left: 0 !important;
}

.page-template-template-projects {
  i.fas.fa-sort-down {
    margin: 0 auto;
    position: absolute;
    right: 12px;
    top: 45%;
    transform: translateY(-50%);
  }

  .media-boxes-drop-down-header {
    position: relative;
  }

  .media-boxes-search {
    width: calc(100% - 613px);
  }

  .filters-container {
    margin-top: 5px !important;
  }
}
.black.light {
  color: black;
  font-weight: 300;
}

label.gfield_label {
  display: none !important;
}

div#gform_wrapper_1 {
  background: #f4f4f4;
  padding: 75px;
  margin-top: 40px;
}

li#field_1_5 {
  margin-top: 0;
}

.ginput_container.ginput_container_text {
  margin-top: 0 !important;
}

.gform_footer.top_label {
  padding-bottom: 0 !important;
}

.gform_body input,
.gform_body textarea {
  border-radius: 4px !important;
  border: 2px solid #e2e2e2;
  padding-left: 15px !important;
}

.gform_body input,
.gform_body textarea,
.gform_body input::placeholder,
.gform_body textarea::placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  padding: 4px 8px !important; /* padding-left: 12px; */
}

input#gform_submit_button_1 {
  background: #c0392b !important;
  border-radius: 0 !important;
  padding: 3px 35px !important;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: white;
  border: none !important;
}

.page-id-782 {
  h5 {
    font-weight: 500;
    color: #990000;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
    margin-top: 25px;
  }

  aside .navigation p {
    line-height: 1.8em !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px !important;
    margin-bottom: 15px;
  }

  aside .navigation > a {
  }

  aside .navigation > h5:nth-child(2) {
    margin-top: 75px;
  }

  aside .navigation hr {
    margin: 2rem 0;
  }
}

.media-box-title.searchtitle:hover {
  color: #c0392b !important;
}

.home {
  .owl-slide,
  .movingBg,
  .banner.home-slider {
    max-height: 70vh;
  }
  p.section-header:hover {
    padding: 12px 80px !important;
    cursor: auto !important;
  }
  p.section-header:hover {
    padding: 12px 80px !important;
    cursor: auto !important;
  }

  #services .wrapper.d-flex > div:nth-child(2) {
    font-weight: 300 !important;
    letter-spacing: 0.5px;
  }
  .clients-section:nth-last-child(4) {
    padding-bottom: 0 !important;
  }
  #industry-solutions .solution:not(.hidden) p.title {
    color: #990000 !important;
  }
}

a.section-title-custom {
  font-weight: 500 !important;
}
.about-body blockquote p {
  font-weight: 300;
  font-size: 20px !important;
}

cite {
  line-height: 5em;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 14px !important;
  padding-left: 30px;
  font-family: "poppins";
  position: relative !important;
}

cite::before {
  content: "_";
  position: absolute;
  top: -54px;
  color: #db2a2f;
  font-size: 31px;
  left: 27px;
  line-height: normal !important;
}

blockquote.wp-block-quote {
  position: r;
  padding-bottom: 5px;
}
svg#floating_contact_button {
  height: 50px;
}

.column:nth-child(1):nth-last-child(1) {
  margin-right: 0 !important;
  min-width: 169px !important;
}

.page-template-template-library {
  .see-all-link a {
    color: #990000 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    letter-spacing: 1.3px !important;
  }
  .featured-content-wrapper.sidebar-box {
    margin-bottom: 100px;
  }
  .latest-post-selection {
    padding-bottom: 80px !important;
  }
}

.page-template-template-blog .main-container,
.single-post .main-container,
.page-template-template-whitepapers .main-container,
.archive .main-container {
  .media-boxes-search {
    background: #f0f0f0 !important;
  }

  span.media-boxes-clear.fa.fa-close {
    display: none;
  }

  span.media-boxes-icon.fa.fa-search {
    float: right;
  }

  input#search {
    /* width: 205px; */
    max-width: unset;
    background: #f0f0f0;
    padding-left: 15px !important;
    min-width: 250px;
    margin-top: 15px;
  }

  input#search,
  input#search::placeholder {
    font-family: "Open Sans", sans-serif;
    color: #020202;
    font-size: 12px;
    font-weight: 600;
  }

  span.media-boxes-icon.fa.fa-search {
    background: #6797aa;
    width: 42px;
  }

  .fa-search:before {
    color: white;
    padding-left: 5px;
  }
  .media-boxes-search {
    margin-top: 15px;
  }
  .media-box-container {
    margin-left: 0 !important;
    padding-right: 20px;
    border-radius: 0 !important;
  }
  input#search {
    display: inline-block;
    width: 100% !important;
    min-width: unset !important;
  }

  .media-boxes-search {
    /* display: flex; */
  }

  span.media-boxes-icon.fa.fa-search {
    position: absolute;
    right: 0;
  }

  .media-boxes-search {
    position: relative;
  }

  .media-boxes-drop-down {
    width: 302px;
  }

  .media-boxes-drop-down-header {
    max-width: unset;
    background: #f0f0f0;
    padding-left: 15px !important;
    font-family: "Open Sans", sans-serif;
    color: #020202;
    font-size: 12px;
    font-weight: 600;
  }

  i.fas.fa-sort-down {
    position: absolute;
    right: 0;
    top: 0px;
    background: blue;
    color: white;
    height: 100%;
    width: 42px;
    background: #6797aa;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0 !important;
    font-size: 16px;
  }

  .fa-sort-down:before {
    position: relative;
    top: -3px;
  }

  .sidebar.col-md-3 {
    flex: 100% !important;
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar > div {
    width: 30%;
    margin-right: 10px;
  }

  .media-boxes-search {
    margin-top: 0 !important;
  }
  .col-md-4.post {
    padding-bottom: 30px !important;
  }

  .blogs.col-md-9 {
    margin-top: 25px;
  }
  .btnWrapper {
    width: 100%;
    text-align: center;
    a {
      cursor: pointer;
    }
  }
  section#selectedCats {
    display: none;
  }
  .fa-search:before {
    padding-left: 0 !important;
  }
  .featured-content-wrapper.sidebar-box {
    background: #990000 !important;
    padding: 35px 50px;
    padding-bottom: 45px;
    margin-bottom: 30px;
  }

  h5.ftr-content-title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif !important;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 25px;
  }

  .f-c-title h4 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif !important;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
  }

  .featured-content p {
    color: white;
    font-size: 15px !important;
    line-height: 25px !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  .fpo-img.pull-left {
    max-width: 30%;
    margin-right: 30px;
  }

  .fpo-img img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .sidebar.col-md-3 {
    padding-left: 0 !important;
  }

  .col-md-4.post {
    padding-left: 0 !important;
    padding-right: 30px;
  }
  .navigation h5 {
    font-weight: 500;
    color: #990000;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3em;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    margin-bottom: 0;
  }

  div#gform_wrapper_2 {
    background: #f4f4f4;
    padding: 30px;
    margin-top: 20px;
  }

  .gform_heading {
    display: none;
  }

  li#field_2_1 {
    margin-top: 0;
  }

  input#gform_submit_button_2 {
    background: #650000 !important;
    border-radius: 0 !important;
    padding: 8px 21px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    border: none !important;
    color: white;
  }

  .gfield {
    padding-right: 0 !important;
  }
  div#gform_wrapper_3 {
    background: #f4f4f4;
    padding: 20px;
    margin-top: 10px;
  }

  aside h5 {
    line-height: 2em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 17px;
    font-family: "poppins";
    font-weight: 500;
    color: #c0392b !important;
    margin-bottom: 0 !important;
  }

  ul#gform_fields_3 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  li#field_3_2 {
    margin-top: 0 !important;
  }

  .gform_heading {
    display: none;
  }

  input#gform_submit_button_3 {
    background: #650000 !important;
    border-radius: 0 !important;
    padding: 6px 29px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px;
    color: white;
    border: none !important;
  }

  .gform_footer.top_label {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
  }
}

@media (max-height: 900px) {
  .home-slider .slide-txt h2 {
    font-size: 50px !important;
  }
}

@media (max-width: 1201px) {
  .home-slider .slide-txt h2 {
    font-size: 50px !important;
  }
}
/*
@media (min-width: 1202px) {
  .home-slider .slide-txt h2 {
    font-size: 50px !important;
  }
}
.home-slider .slide-txt h2 {
  max-width: 65% !important;
}
*/
#careers a.button.arrow.red {
  position: relative;
  top: 15px;
}

h4 a {
  color: black;
}

h4 a:hover {
  color: #c0392b !important;
  text-decoration: none;
}
.banner,
.slide-img {
  max-height: 375px;
}
.page-template-template-projects {
  .media-box img {
    max-width: 100% !important;
    width: 100%;
  }
  .pull-left,
  .pull-left a {
    width: 100% !important;
    float: unset !important;
  }
}

.single-library {
  .gform_wrapper input {
    margin-bottom: 12px;
  }
}
input#gform_submit_button_2 {
  background: #2c697c !important;
}
.page-template-template-library .latest-post-selection {
  padding-bottom: 90px !important;
}

.library-category {
}

.page-template-template-library .latest-post-selection {
  height: 300px;
}

.home {
  section.body-section.seo-copy .container {
    background: transparent !important;
    padding: unset !important;
    position: static !important;
    top: auto !important;
  }

  .col-sm-12.col-xs-12 {
    background: #990000;
    padding: 80px 50px;
    position: relative;
    top: -120px;
    padding: 80px;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
}
input#gform_submit_button_1 {
  background: #87190f !important;
}
.single-project img:hover {
  opacity: 0.5;
}

.single-post {
  .categories strong,
  .share,
  .categories {
    line-height: 1.8em !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px !important;
    margin-bottom: 20px;
  }

  .categories {
    color: #990000;
  }

  strong.share {
    line-height: 3em !important;
  }

  .categories strong {
    color: black;
  }
}
.offer-container.fixed {
  position: fixed;
  top: 256px;
  width: 255px;
}
.navigation > ul > li {
  line-height: 10px;
}
a.wp-block-button__link {
  @extend .button;
  @extend .arrow;
  @extend .red;
}

.page-template-template-leadership .media-box {
  height: 410px !important;
}

.single .about-body img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.page-template-template-projects .media-box {
  height: 382px;
}
.footer-row-one,
.footer-row-two {
  line-height: 1.8em !important;
  font-family: "Open Sans", sans-serif;
  font-size: 13px !important;
  margin-bottom: 0;
  color: black;
}

footer.content-info {
  background: #f6f6f6;
  padding: 20px 0;
  /* padding-bottom: 35px; */
}

footer > .container {
  display: flex;
}

.footer-right-side {
  justify-self: flex-end;
}

.footer-left-side {
  width: 90vw;
}

.footer-right-side .footer-row-one {
  display: flex;
  align-items: center;
}

.footer-right-side strong {
  margin-right: 15px;
  line-height: 1.8em;
}

footer input {
  color: black;
  font-weight: 600;
  padding: 2px 8px !important;
  border-radius: 4px !important;
  border: 2px solid #e2e2e2;
  min-width: 200px;
}

footer input::placeholder {
  color: black;
}

.footer-right-side .footer-row-two {
  margin-top: 8px;
}

.footer-row-one {
  height: 35px;
}

.footer-left-side .footer-row-two {
  margin-top: 8px;
}

.single-post {
  span.wrapper > div:nth-of-type(1):nth-last-child(2) > p {
    display: none;
  }

  span.wrapper > div {
    float: unset !important;
    width: 100% !important;
    text-align: left !important;
  }

  span.wrapper > div * {
    text-align: left !important;
  }
}
.post > img {
  object-fit: cover;
}

.solution {
  height: 250px;
}
.hidden .excerpt {
  padding-right: 40px;
}

.sidebar-box {
  margin-bottom: 30px;
}

.home {
  .team-box .our-team-box > div {
    height: 250px;
  }
}
footer a {
  color: inherit;
}
.single-post .about-body span {
  line-height: normal !important;
}
aside,
aside * {
  transition: none !important;
}
h6.searchtitle {
  margin-bottom: 0;
  font-size: 11px;
  text-transform: none;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: normal !important;
  font-family: "Open Sans", sans-serif;
  padding: 8px 3px;
  padding-right: 10px;
  padding-left: 10px;
}

.jpt-box-child {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side a {
  text-decoration: none !important;
}

.single-post {
  .about-body > .wrapper:nth-child(5) > p:nth-child(1) > img:nth-child(1) {
    display: none;
  }
  .about-body > .wrapper:nth-child(5) > div:nth-child(2) > h3 {
    display: none;
  }
  .about-body a {
    color: #990000;
  }
}

.single-library {
  .about-body h1 {
    margin-bottom: 20px;
  }
}

@media (max-height: 700px) {
  .offer-container.fixed {
    top: 180px !important;
  }
}

#loadOverlay {
  display: none;
}

.page-template-template-news-events {
  .about-body h1 {
    text-transform: uppercase;
    font-size: 24px !important;
    color: #c0392b !important;
    letter-spacing: 2px !important;
    line-height: 1.1em;
    font-weight: 400;
    font-family: "Poppins", sans-serif !important;
  }

  button.btn.btn-link {
    padding: 0 !important;
  }

  h1 i {
    margin-left: 10px;
    font-weight: 400 !important;
  }
}

.page-template-default {
  .section-title.active {
    background: #eee !important;
    color: black !important;
    border-bottom: 7px solid #990000;
  }

  .section-title.active a {
    color: black !important;
  }

  .section-title:hover a {
    color: #990000 !important;
  }

  .sections {
    flex-wrap: wrap;
  }

  .section-title {
    margin-bottom: 2px;
    width: 150px;
    padding-bottom: 7px !important;
  }

  .section-title:not(.active) {
    border-bottom: 7px solid #eee;
  }

  #sticky-sections .content {
    padding-top: 100px !important;
  }
}

.movingBg {
  display: none !important;
}
@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
img.movingImg {
  transition: 10s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: growShrink 15s infinite alternate;
}

.home-slider-wrapper {
  position: relative;
  overflow-y: hidden;
}
.portfolio-content > div:not(.hpf-box) {
  padding-bottom: 50px !important;
}
.section-title {
  padding-right: 10px !important;
}

.search {
  .slide-img.banner-bg-img {
    background-image: url(http://spire.hingedev.com/wp-content/uploads/2021/04/Subpage-About.jpg) !important;
    min-height: 350px !important;
  }

  .banner {
    min-height: 350px;
  }
  .about-body h1:nth-child(1) {
    display: none;
  }
}
.page-template-index {
  .post > img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

.page-template-default #sticky-sections .content {
  padding-top: 6px !important;
}
.page-id-782 aside h5 a {
  color: #c0392b !important;
}
.page-id-782 aside > .navigation > ul {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.search aside > .navigation > *:not(ul):not(a) {
  display: none;
}
.search .about-body h1 {
  margin-top: 40px;
}

.search .about-body h1 a {
  margin-top: 40px;
  color: black !important;
}
.home-slider-wrapper,
.movingImg,
.banner,
.owl-slider,
.owl-wrapper-outer,
.owl-wrapper,
.owl-item {
  overflow-x: hidden !important;
}

a.sub-menu-link {
  line-height: 20px !important;
  margin: 10px 0;
}

.gform_wrapper label {
  display: none !important;
}

.showLabel label {
  display: block !important;
}
body .gform_wrapper ul li.gfield {
  padding: 0;
  margin: 10px;
}

body .gform_wrapper .top_label div.ginput_container {
  margin: 0;
}

input#input_4_9_1 {
  margin-top: 0 !important;
}
aside .sub-menu a {
  line-height: normal !important;
  margin: 20px 0 !important;
}
.page-template-template-library h3.item-title-tag:hover {
  color: #990000 !important;
}
ul.children {
  margin-bottom: 0;
}

.page-list a {
  line-height: 1.8em !important;
  font-family: "Open Sans", sans-serif;
  font-size: 17px !important;
  margin-bottom: 35px;
}

.single-library .col-md-5 {
  margin-top: 0 !important;
}
.about-body ul:not(.filters) {
  list-style: none;
  padding-left: 0;
}

.about-body ul:not(.filters):not(.social-share) li::before {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #990000;
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
}

.about-body ul:not(.filters):not(.social-share) li {
  position: relative;
  padding-left: 18px;
}

.home {
  .home-slider {
    .owl-controls {
      display: block !important;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }

    .owl-prev {
      left: 30px;
      float: left;
      position: relative;
    }

    .owl-next {
      right: 30px;
      float: right;
      position: relative;
    }

    .owl-theme .owl-controls .owl-buttons div {
      background: transparent !important;
      color: black !important;
      font-size: 18px;
    }
  }
}

.navigation.fixed,
.navigation.fixed * {
  z-index: 10 !important;
}
nav {
  .column {
    margin-right: 0px;
    min-width: 200px;
    padding-right: 20px;
  }

  a.section-title-custom {
    line-height: normal !important;
    margin-bottom: 10px;
  }
  .section {
    margin-bottom: 10px;
  }
}
.search .about-body h1 {
  display: block !important;
  margin-top: 0 !important;
}
.search .about-body h1:nth-of-type(n + 2) {
  margin-top: 50px !important;
}
.page-template-template-projects {
  .project-filter {
    margin-top: 50px !important;
  }
  section.about-body-section {
    padding-top: 34px;
  }
}

@media (min-width: 768px) {
  #home-offers .team-box img {
    height: 212px !important;
    object-fit: cover !important;
  }
}

@include phone {
  .home p.section-header:hover {
    padding: 12px 20px !important;
  }
  .page-template-default .section-title {
    max-width: 30%;
  }
  section#home-offers .our-team-box.blog-box {
    height: auto !important;
    padding-bottom: 20px !important;
  }
  .page-template-template-leadership .media-box-logo img {
    width: 100% !important;
  }

  .page-template-template-leadership .about-body .media-box-container {
    padding-right: 50px !important;
    width: 100% !important;
  }

  .page-template-template-leadership .leader-emblem {
    width: 100% !important;
  }
}
.media-box-logo:hover .leadership-overlay {
  background: #5c8ca0;
  width: calc(100% - 20px);
  position: absolute;
  height: 275px;
  opacity: 0.5;
}

@include phone {
  .home .home-slider .owl-controls {
    display: none !important;
  }
}
.clients-section .owl-wrapper-outer img {
  object-fit: contain !important;
  height: 65px;
  width: 100%;
}

.clients-section .owl-item {
  padding-right: 50px;
}

.clients-wrapper {
  position: relative;
  .clients-section:nth-child(1) .owl-controls {
    display: block !important;
    position: absolute;
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .owl-wrapper {
    position: static !important;
  }

  .owl-wrapper-outer {
    position: static !important;
  }

  .owl-carousel-clients.owl-carousel.owl-theme {
    position: static !important;
  }

  .col-sm-12.client-slider {
    position: static !important;
  }

  .clients-section:nth-child(2) .col-sm-12.client-slider {
    margin-top: 0 !important;
  }

  section.clients-section:nth-child(1) {
    padding-bottom: 0 !important;
  }

  section.clients-section:nth-child(2) {
    padding-bottom: 130px;
  }
  .clients-section:nth-child(2) .col-sm-12.client-slider {
    margin-top: 0 !important;
  }

  section.clients-section:nth-child(1) {
    padding-bottom: 0 !important;
  }

  section.clients-section:nth-child(2) {
    padding-bottom: 130px;
  }

  .owl-theme .owl-controls .owl-page span {
    border-radius: 0 !important;
    width: 8px;
    height: 8px;
  }

  .owl-page.active span {
    background: #5999ac !important;
  }
}
p.title {
  line-height: 2em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 500;
  display: block;
  width: 100%;
  margin-bottom: 0 !important;
}

.pagination-custom {
  letter-spacing: 5px;
}

i.far.fa-chevron-double-right {
  color: #990000;
  font-size: 9px;
  position: relative;
  top: -3px;
  left: 2px;
}

.pagination-custom span.active {
  color: #990000;
}

.pagination-custom span {
  cursor: pointer;
}

.hidden:not(.solution) {
  display: none !important;
}
.pagination-custom {
  width: 100%;
  border-top: 2px solid #eee;
  padding-top: 20px;
}
.page-id-731 h3 a {
  color: #990000 !important;
}
.cta-wrapper:hover .st0 {
  fill: #6797aa;
}

.cta-wrapper,
.cta-wrapper * {
  transition: $transition;
}

div#wp-filter-root {
  margin-bottom: 50px;
}
.page-template-template-whitepapers {
  aside h5 {
    line-height: 2em !important;
    text-transform: uppercase !important;
    letter-spacing: 1.25px !important;
    font-size: 17px !important;
    font-family: "poppins" !important;
    font-weight: 500 !important;
    margin-top: 0 !important;
  }

  .portfolio-content p {
    margin-bottom: 20px !important;
  }
}

.owl-customHinge-in {
  animation: fadeInDown 0.7s both ease;
}
.owl-customHinge-out {
  animation: fadeOutDown 0.7s both ease;
}

.slide-txt {
  transition: $transition;
}

.slide-txt:not(.done) {
  top: -100%;
}

.side-txt.done {
  top: 50%;
}

#services .right-side .title {
  margin-bottom: 30px !important;
}

.project.small.hidden {
  display: block !important;
}

.single-news .wrapper > div:nth-child(2) {
  display: none;
}

.single-news .wrapper > div {
  width: 100% !important;
  float: unset !important;
}
aside a.btn.button.arrow.red.btn-default.btn-orange {
  text-align: left;
}

@include phone {
  .home p.title.mobileOnly {
    margin-bottom: 30px !important;
  }

  .home .col-sm-12.row.b-t-p-section {
    margin-right: 0 !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .page-template-template-whitepapers {
    .media-boxes-search,
    .media-boxes-drop-down {
      width: 100% !important;
    }
  }
}

a.sidebar-id-49806 {
  display: none;
}

.gform_button {
  border: none;
  box-shadow: none;
}
.gform_confirmation_wrapper {
  position: absolute;
  top: 20px;
}

.gform_confirmation_wrapper div {
  font-size: 19px;
  font-weight: 600;
  color: #990000;
}
.gform_button {
  background: black !important;
  border-radius: 0 !important;
  padding: 8px 21px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: white !important;
}

.gform_button:hover {
  transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1) !important;
  background-color: #2c697c !important;
  text-decoration: none !important;
}
.col-md-3.col-sm-4 {
  position: static;
}

.fixed-to-bottom {
  position: absolute !important;
  bottom: -165px !important;
  top: auto !important;
}
form#gform_3 .gform_footer.top_label {
  display: none;
}

form#gform_3 {
  position: relative;
  top: -4px;
}
div#gform_confirmation_wrapper_3 {
  /* display: none !important; */
  position: static !important;
}

div#gform_confirmation_message_3 {
  line-height: normal;
  color: inherit !important;
  font-weight: inherit !important;
  visibility: hidden;
  font-size: 10px;
}

@include phone {
  .slide-txt,
  .slide-txt a {
    z-index: 10 !important;
  }

  .slide-img::after {
    content: "" !important;
    display: none !important;
  }
  .section-content:nth-child(1) {
    padding-top: 75px;
  }
  #header #primary-nav #mobile-menu ul {
    text-align: left !important;
  }

  #header #primary-nav #mobile-menu ul a {
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
  }

  .menu-header-menu-container {
    height: 90vh !important;
    margin-top: 10vh !important;
  }
  .sub-menu > li > a {
    color: white !important;
    font-size: 15px !important;
    line-height: 38px;
  }

  #menu-header-menu > li > a {
    font-size: 22px !important;
  }

  #header #primary-nav #mobile-menu ul .sub-menu .sub-menu a {
    font-family: "Open Sans", sans-serif !important;
    color: gray !important;
    text-transform: none !important;
    white-space: normal;
    display: block;
    line-height: 42px;
    letter-spacing: normal !important;
  }

  .sub-menu .sub-menu {
    margin-bottom: 20px;
  }
  .sub-menu .sub-menu {
    margin-top: 0 !important;
    margin-bottom: 3px !important;
  }

  ul.sub-menu.hidden {
  }

  #menu-header-menu > li > .sub-menu > li > a {
    color: white !important;
  }
  ul#menu-header-menu {
    padding-bottom: 100px !important;
  }
  .owl-carousel-clients.owl-carousel.owl-theme,
  .owl-carousel-clients.owl-carousel.owl-theme * {
    overflow-y: hidden !important;
  }
  section#careers .careers-wrapper.row {
    position: relative;
    top: -68px;
    z-index: 1;
    padding-bottom: 0px !important;
    padding-top: 267px !important;
  }

  .section-wrapper {
    z-index: 2;
  }
  section#careers .careers-wrapper.row {
    padding-bottom: 20px !important;
    padding-top: 265px !important;
  }
  .home-slider-wrapper {
    margin-top: 105px;
  }

  .home-slider .slide-txt h2 {
    font-size: 36px !important;
  }
}

@include phone {
  .section-header {
  }

  #services .top-section .section-header:not(.active) {
    display: none !important;
  }

  .container.d-flex {
    padding: 0 !important;
  }

  #services .top-section .section-header::after {
    right: 0 !important;
    left: auto !important;
    background: #555;
    border-left-color: #650000 !important;
  }
  #services > .section-wrapper > p.section-header::after {
    content: none !important;
  }

  #services .wrapper.d-flex > div:nth-child(1) {
    width: 79px !important;
  }
}

@media (min-width: 768px) {
  .owl-carousel-clients.desktopOnly.owl-carousel.owl-theme {
    padding-bottom: 150px;
  }

  .two-logos img:nth-child(1) {
    margin-bottom: 50px;
  }
}

.clients-wrapper .clients-section:nth-child(1) .owl-controls {
  z-index: 1 !important;
}

@include phone {
  .clients-wrapper .owl-theme .owl-controls .owl-page span {
    width: 15px !important;
    height: 15px !important;
    margin: 0 10px;
  }
  .owl-carousel-clients.desktopOnly.owl-carousel.owl-theme {
    padding-bottom: 150px;
  }

  .two-logos img:nth-child(1) {
    margin-bottom: 50px;
  }

  .owl-item {
  }

  .owl-carousel-clients.mobileOnly.owl-carousel.owl-theme {
    padding-bottom: 100px;
  }

  .four-logos img:nth-child(1),
  .four-logos img:nth-child(2),
  .four-logos img:nth-child(3) {
    margin-bottom: 30px;
  }

  .clients-wrapper .clients-section:nth-child(1) .owl-controls {
    bottom: 70px;
  }
  .clients-section .owl-item {
    padding-right: 0 !important;
    text-align: center;
  }
  .clients-wrapper .clients-section:nth-child(1) .owl-controls {
    z-index: 1 !important;
  }
}

.cta-wrapper,
.cta-wrapper * {
  z-index: 99;
}

.page-template-template-projects .media-boxes-drop-down {
  min-width: 15%;
  max-width: 15%;
  width: 15% !important;
}

.page-template-template-projects .media-boxes-search {
  width: calc(100% - (45% + 100px)) !important;
}
h5.ftr-content-title {
  font-size: 14px !important;
}

.home {
  @media (max-width: 1300px) and (max-height: 850px) {
    .home-slider .slide-txt h2 {
      max-width: 80%;
    }
  }
}

.single-post .about-body span {
  color: unset !important;
}
.page-template-template-blog .main-container .fpo-img img {
  object-fit: contain;
  object-position: center;
}
a {
  color: #212529;
}

.about-body a:hover {
  color: #990000;
  text-decoration: none;
}

.banner.home-slider,
.banner.home-slider *:not(.slide-txt) {
  overflow-y: hidden;
}

a#wt-cli-accept-all-btn {
  background: #650000 !important;
  font-family: "Poppins", sans-serif !important;
}

a.medium.cli-plugin-button.cli-plugin-main-button.cli_settings_button {
  background: black !important;
  font-family: "Poppins", sans-serif;
  color: white !important;
}

.cli-bar-message {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 992px) and (min-width: 769px) {
  .top-level-nav-item > a {
    font-size: 0.85rem !important;
    padding-right: 15px !important;
    padding-left: 0 !important;
  }
}
