/* ============================================================== *
 * Utility Menu Colors                                            *
 * ============================================================== */
$utility__background: #494949;
$utility__social__static-color: #b7b8bb;
$utility__social__hover-color: #ddd;
$utility__menu__static-color: #a8a8a8;
$utility__menu__hover-color: black;
$utility__menu__font: $mainFont;
$utility__menu__font-size: 0.85rem;
$utility__menu__text-transform: uppercase;
$utility__menu__font-weight: 400;
$utility__search__background: #606060;
$utility__search__color: white;
/* ============================================================== *
   * Primary Navigation Colors                                      *
   * ============================================================== */
$primary__background: rgba(255, 255, 255, 0.9);
$primary__nav__color-hover: #3d3d3d;
$primary__nav__color-static: #3d3d3d;
$primary__nav__font: $mainFont;
$primary__nav__font-size: 0.5rem;
$primary__nav__text-transform: uppercase;
$primary__nav__font-weight: 500;
$primary__sub-menu__background-static: #323b3e;
$primary__sub-menu__font: "Open Sans", sans-serif;
$primary__sub-menu__font-size: 0.8rem;
$primary__sub-menu__text-transform: uppercase;
$primary__sub-menu__font-weight: 500;
$primary__sub-menu__background-hover: #00a2c8;
/* ============================================================== *
   * Mobile Menu Colors                                             *
   * ============================================================== */
$mobile-menu__background: black;
$mobile-menu__nav__color-static: white;
$mobile-menu__nav__color-hover: white;
$mobile-menu__nav__font: $mainFont;
$mobile-menu__nav__font-size: inherit;
$mobile-menu__nav__font-weight: normal;
$mobile-menu__nav__text-transform: none;
/* ============================================================== */

nav#primary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#right-side form {
  margin-bottom: 0;
}
#socials i {
  font-size: 17px;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  * {
    transition: $transition;
  }
  #utility-menu {
    background: $utility__background;
    ul {
      margin-bottom: 0;
      li,
      li a {
        color: $utility__menu__static-color;
        display: flex;
        align-items: center;
        font-family: $utility__menu__font;
        font-size: $utility__menu__font-size;
        text-transform: $utility__menu__text-transform;
        font-weight: $utility__menu__font-weight;
      }
      li {
        margin-right: 20px;
      }
    }
    #socials {
      padding: 5px 0;
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
          a {
            font-size: 2rem;
            line-height: 0;

            color: $utility__social__static-color;
            padding: 0 10px;
            &:hover {
              color: $utility__social__hover-color;
            }
          }
        }
      }
    }
    #right-side {
    }
    #utility {
      @include phone {
        display: none;
      }
      padding: 5px 0;
      ul {
        margin-right: 10px;
        list-style: none;
        height: 100%;
        li a {
          &:hover {
            color: $utility__menu__hover-color;
          }
        }
      }
    }
    form {
      input {
        height: 100%;
        @include phone {
          max-width: 150px;
        }
        background: $utility__search__background;
        border: none;
        padding: 5px 20px;
        color: $utility__search__color;
        font-weight: 400;
        font-size: $utility__menu__font-size;
        font-family: $utility__menu__font;
        text-transform: $utility__menu__text-transform;
        &::placeholder {
          text-decoration: none;
          color: #fff;
          font-family: $utility__menu__font;
          font-size: $utility__menu__font-size;
          color: $utility__search__color;
          text-transform: $utility__menu__text-transform;
          font-weight: 400;
        }
      }
    }
  }

  #primary-nav {
    position: relative;
    background: $primary__background;
    padding: 15px 0;
    .site-logo {
      margin: 20px 0;
      @include small {
        margin: 0;
      }
      @include phone {
        margin: 0;
      }
      @include phone {
        max-width: 50%;
      }
      object-fit: contain;
      height: 45px;
    }
    #primary {
      @include phone {
        display: none;
      }
      width: 100%;
      ul {
        list-style: none;
        &:not(.sub-menu) {
          height: 100%;
          margin-bottom: 0;
        }
        li {
          font-family: $primary__nav__font;
          font-size: $primary__nav__font-size;
          text-transform: $primary__nav__text-transform;
          font-weight: $primary__nav__font-weight;
          position: relative;
          .sub-menu {
            border-top: 5px solid #00a2c8;
            z-index: 3;
            &.hidden {
              display: none;
            }
            position: absolute;
            width: 250px;
            background: $primary__sub-menu__background-static;
            margin-top: 5px;
            padding: 10px 0;
            a {
              width: 100%;
              display: block;
              padding: 10px 20px;
              line-height: 1.8rem;
              margin: 5px 0;
              text-transform: $primary__sub-menu__text-transform;
              font-weight: $primary__sub-menu__font-weight;
              font-size: $primary__sub-menu__font-size;
              font-family: $primary__sub-menu__font;
              text-decoration: none;
              color: white;
              &:hover {
                background: $primary__sub-menu__background-hover;
                color: white;
              }
              li {
                padding: 0 20px;
              }
            }
          }
          a {
            color: $primary__nav__color-static;
            padding: 0 20px;
            @include small {
              padding: 0 10px;
              font-size: 0.8rem;
            }
            padding-bottom: 15px;
            text-decoration: none;
            &:hover {
              color: $primary__nav__color-hover;
            }
            @include large {
              font-size: 1.1rem;
              letter-spacing: 0.125rem;
            }
            @include medium {
              font-size: 0.9rem;
              letter-spacing: 0.125rem;
            }
          }
        }
      }
    }
    #mobile-nav {
      z-index: 4;
      display: none;
      @include phone {
        display: block;
      }
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
    #mobile-menu {
      &,
      * {
        z-index: 3;
      }
      background: $mobile-menu__background;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      &.hidden {
        opacity: 0;
        right: -100vw;
      }
      &:not(.hidden) {
        opacity: 1;
        right: 0;
      }
      ul {
        list-style: none;
        &:not(.sub-menu) {
          width: 100%;
          padding-right: 75px;
          li {
            margin: 15px 0;
          }
        }
        text-align: right;
        a {
          font-family: $mobile-menu__nav__font;
          font-size: $mobile-menu__nav__font-size;
          text-transform: $mobile-menu__nav__text-transform;
          font-weight: $mobile-menu__nav__font-weight;
          color: $mobile-menu__nav__color-static;
          padding: 0 10px;
          text-decoration: none;
          &:hover {
            color: $mobile-menu__nav__color-hover;
          }
        }
        &.sub-menu {
          position: relative;
          left: 15px;
        }
      }
    }
  }
}

#utility-menu > .container {
  align-items: center;
}

.dropdown-menu-custom {
  background: #494949;
  display: flex;
  padding: 30px 40px;
}

.top-level-nav-item {
  position: relative;
}

.top-level-nav-item > a {
  color: #3d3d3d;
  padding: 0 20px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 1rem !important;
  font-weight: 400;
  letter-spacing: 1px !important;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

a.section-title-custom {
  color: white;
  &:hover {
    color: #fbc84d;
    text-decoration: none;
  }
  text-decoration: none;
  font-size: 1rem !important;
  font-weight: 400;
  letter-spacing: normal !important;
  text-transform: none;
  font-family: "Rubik", sans-serif;
}

a.sub-menu-link {
  font-family: "Open Sans";
  color: #a7a7a7;
  &:hover {
    color: white;
    text-decoration: none;
  }
  font-size: 14px;
  line-height: 32px;
  display: block;
}

a.section-title-custom {
  margin-bottom: 6px;
  line-height: 32px;
}

.column {
  min-width: 165px;
  margin-right: 50px;
}

nav#primary {
  padding: 0;
}

#header #primary-nav {
  padding-bottom: 0 !important;
}

.top-level-nav-item {
  padding-bottom: 38px;
  padding-top: 30px;
}

.dropdown-menu-custom::before {
  content: "";
  width: 100px;
  position: absolute;
  top: -10px;
  background: #f06944;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu-custom.hidden {
  display: none;
}
.dropdown-menu-wrapper {
  left: 50%;
  transform: translateX(-50%);
  top: 82px;
  position: absolute;
  margin-top: 10px;
}
.top-level-nav-item > a {
  text-decoration: none;
  &:hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}

@include phone {
  img.site-logo {
    max-width: unset !important;
  }

  #header #primary-nav {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }

  section#mobile-menu {
    background: #494949 !important;
  }
}

a.sub-menu-link {
  margin-bottom: 0 !important;
}

.sub-menu {
  margin-bottom: 10px !important;
}

.dropdown-menu-custom .column:nth-child(1):nth-last-child(1) {
  margin-right: 0 !important;
}

a.section-title-custom {
  line-height: 19px;
}

.section {
  margin-bottom: 16px;
}

.section:nth-last-child(1) {
  margin-bottom: 0 !important;
}
.top-level-nav-item:nth-child(2) > a {
  padding-left: 0;
  position: relative;
  left: 30px;
  top: 10px;
  line-height: 21px;
}

.top-level-nav-item:nth-child(2) {
  width: 227px;
}

.top-level-nav-item {
  padding-top: 20px !important;
}

#header #primary-nav .site-logo {
  height: 72px;
  margin: 0 !important;
}

@media (max-width: 1200px) {
  #header #primary-nav .site-logo {
    margin-right: 50px !important;
  }
  .top-level-nav-item > a {
    font-size: 0.8rem !important;
  }
  .top-level-nav-item:nth-child(2) {
    width: auto !important;
  }
  .top-level-nav-item:nth-child(2) > a {
    left: 10px !important;
    top: 8px !important;
    line-height: normal !important;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  #header #primary-nav .site-logo {
    height: 52px;
    margin-right: 20px !important;
    position: relative;
    top: 15px;
  }
  .top-level-nav-item > a {
    font-size: 0.8rem !important;
  }
  .top-level-nav-item:nth-child(2) {
    width: auto !important;
  }
  .top-level-nav-item:nth-child(2) > a {
    left: 10px !important;
    top: auto !important;
    line-height: normal !important;
  }
}

#header {
  .top-level-nav-item > a {
    letter-spacing: normal !important;
  }

  #utility-menu ul li,
  #utility-menu ul li a {
    letter-spacing: normal !important;
    font-size: 0.75rem;
    padding: 4px 0;
  }

  i.fab.fa-linkedin-in {
    color: white;
    font-size: 14px !important;
  }

  #utility-menu #utility {
    padding: 0 !important;
  }

  input#s,
  input#s::placeholder {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 769px) and (max-height: 500px) {
  #header #primary-nav .site-logo {
    height: 40px;
    top: 23px;
  }
}
@media (width: 768px) {
  img.site-logo {
    top: 0 !important;
  }
}

@media (max-width: 768px) {
  .sub-menu .sub-menu {
    display: none !important;
  }

  ul#menu-mobile-navigation {
    height: calc(100% - 100px);
    overflow-y: scroll;
  }

  #menu-mobile-navigation > .hidden {
    display: block !important;
  }
  #menu-mobile-navigation > .menu-item-has-children > .sub-menu > .hidden {
    display: block !important;
  }
}
