body:not(.home) {
  .banner {
    margin-top: 30px;
  }
  .pull-right {
    order: 2;
  }
  .hpf-box img {
    width: 100%;
  }
}

.leader-emblem {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 10px;
}

div#grid {
  display: flex;
}
.col-md-8.about-body {
  padding-top: 78px;
}

.floating-cta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.slide-img.banner-bg-img {
  position: relative;
  background-size: cover !important;
}

.cta.container {
  text-align: right;
  padding-left: 25%;
}

.cta > p {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 39px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: white;
  margin-bottom: 35px;
}

.background-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 1;
}

.floating-cta {
  z-index: 2;
}

.sidebar-offer a.button {
  font-size: 12px !important;
}
aside li a.active {
  color: #c0392b !important;
}

aside li a:hover {
  text-decoration: none !important;
  color: #c0392b !important;
}
.navigation li {
  position: relative;
}

ul.sub-menu {
  position: static;
  top: 0;
}

ul.sub-menu.hidden {
  display: none;
}

ul.sub-menu {
  padding-left: 30px;
  z-index: 10;
  top: 30px;
  padding-right: 30px;
  border-top: none !important;
}
aside ul li {
  margin: 0;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .sub-menu a {
    font-family: "Open Sans" !important;
    /* color: #a7a7a7 !important; */
    font-size: 14px !important;
    line-height: 19px !important;
    margin-bottom: 20px;
    display: block;
    text-transform: none !important;
    letter-spacing: normal !important;
  }
}
blockquote a {
  color: inherit;
  text-decoration: underline;
}

blockquote a:hover {
  color: inherit;
  text-decoration: underline;
}
.sub-menu li {
  padding: 0px 10px;
  margin: 5px 0;
}
ul.sub-menu {
  padding-top: 0 !important;
  margin-top: 15px !important;
  padding-left: 5px;
  padding-bottom: 0 !important;
}
li.has-children > a::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  right: -10px !important;
  position: relative;
}

li.has-children.right-arrow > a::after {
  content: "\f0d7";
}
li.has-children:not(.right-arrow) > a::after {
  content: "\f0da";
}

body:not(.home) {
  .navigation > a {
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    color: #f06944;
    border-bottom: 2px solid #e7e7e7;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .navigation > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .navigation ul > li > a {
    color: #494949;
  }

  .navigation > a:hover {
    text-decoration: none;
  }

  .navigation ul > li > a:hover {
    color: #fbc84d !important;
  }

  .navigation > li.has-children > ul li a {
    font-size: 20px !important;
  }

  ul.sub-menu {
    list-style-type: none;
  }

  .navigation .sub-menu > li:nth-last-child(1) a {
    margin-bottom: 0;
  }
}

body:not(.home) {
  .main-container {
    font-family: "Rubik", sans-serif;
    h1 {
      color: #153355;
      font-weight: 600;
      font-size: 50px;
      margin-bottom: 30px;
    }
    h2 {
      color: #494949;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 50px;
    }
    h3 {
      color: #f06944;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 40px;
    }
    p {
      color: #272727;
      font-size: 18px;
    }
    h4 {
      margin-top: 40px;
      color: #33a6ef;
      font-size: 20px;
      font-weight: 600;
    }
    h5 {
      margin-top: 40px;
      font-size: 18px;
      color: #272727;
      font-weight: 600;
    }
    h6 {
      color: #f06944;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 40px;
    }
    .wp-block-column > h6:nth-child(1) {
      margin-top: 0;
    }
    hr {
      margin: 50px 0;
      margin-bottom: 60px;
      border-top: 2px solid #e7e7e7;
    }
    .about-body {
      ul {
        padding-left: 0;
        list-style-position: inside;
      }
      li {
        @extend p;
        margin-bottom: 10px;
        &::marker {
          color: #f06944;
        }
      }
    }
  }
  blockquote {
    background: #153355;
    padding: 40px;
    margin-top: 60px;
    & > p {
      color: white !important;
      margin-bottom: 40px;
    }
    cite {
      color: white !important;
      font-size: 14px;
      text-transform: uppercase;
      font-style: unset !important;
      letter-spacing: 1px;
      position: relative;
      &::before {
        content: "";
        width: 20px;
        height: 2px;
        background: #33a6ef;
        position: absolute;
        top: -15px;
      }
    }
  }
}

body:not(.home) {
  .wp-block-image {
    margin: 60px 0;
    img {
      max-width: 100%;
    }
    figcaption {
      color: #494949;
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1200px) {
  .about-body {
    margin-left: 35px !important;
    padding-top: 7% !important;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  body:not(.home) .pull-right {
    order: 3 !important;
  }
}

@media (max-width: 574px) {
  .col-md-3 {
    margin: 50px 0;
  }
}
