.clients-section {

    padding-bottom: 50px;
    
   
    
    .owl-wrapper-outer {
        margin-bottom: 30px;
    }
    
    .owl-wrapper-outer img {
        max-height: 150px;
    }
    
    .owl-wrapper-outer .item {
        text-align: center;
    }

    .col-sm-12.client-slider {
        margin-top: 20px;
    }

}

