#experience {
  padding-bottom: 85px;
  .projects.container {
    display: flex;
  }

  .left-side {
    width: 70%;
    padding-right: 20px;
  }

  .right-side {
    width: 30%;
  }

  img.image {
    width: 100%;
    height: 454px;
    object-fit: cover;
  }

  p.title {
    font-family: "Rubik";
    color: #650000;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 30px;
  }

  .left-side p:not(.title):not(.excerpt) {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 400;
    padding-right: 20px;
  }
  a.button.arrow.red.desktopOnly {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .image-wrapper {
    position: relative;
  }

  a.button.arrow.red.desktopOnly {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 90px;
    letter-spacing: 1.5px;
  }
  img.project-image {
    max-width: 100%;
    height: 124px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
  }

  .project.small {
    position: relative;
  }

  p.project-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Rubik";
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 20px;
  }

  .left-side {
    padding-right: 10px !important;
  }

  a.button.arrow.black.desktopOnly {
    width: 100% !important;
    display: block;
  }

  .red-overlay {
    background: rgba(101, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 124px;
    z-index: 1;
  }

  p.project-text {
    z-index: 2;
  }

  .project,
  .project * {
    transition: $transition;
  }
  .project {
    &:not(.hidden) {
    }
    &.hidden {
      p.project-text {
        top: 40px !important;
      }
      .red-overlay,
      .project-text {
        opacity: 0;
      }
    }
  }

  .section-wrapper {
    margin-bottom: 55px;
  }
}

@media (max-width: 1000px) {
  #experience p {
    min-width: 65vw;
  }
}

@include phone {
  #experience {
    .right-side {
      display: none;
    }

    .left-side {
      width: 100% !important;
      padding-right: 0 !important;
    }

    img.image {
      height: 250px !important;
    }

    .left-side {
    }

    p.title {
      line-height: 31px !important;
      font-weight: 400 !important;
    }
    .project-button-wrapper {
      margin-bottom: 30px;
      margin-top: -20px;
    }

    .all-button-wrapper {
      margin-bottom: 30px;
    }

    a.button.arrow.black.mobileOnly {
      padding-right: 117px;
    }
  }
  #experience .section-wrapper {
    margin-bottom: 0px;
  }
}
