.pathways {
  margin-bottom: 125px;
  hr {
    margin-bottom: 50px;
    border-width: 2px;
    border-color: #e7e7e7;
  }
  .headline {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #153355;
    font-size: 20px;
  }
  .a-button {
    padding: 0;
    height: 252px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    .wrapper {
      margin-right: 30px;
      @media (max-width: 575px) {
        margin-right: 0;
      }
      > a {
        border: 1px solid #e7e7e7 !important;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        @media (max-width: 1200px) {
          padding-left: 20px;
        }
        transition: $transition;
        position: relative;
        &:hover {
          text-decoration: none;
        }
        span {
          z-index: 2;
          .content {
            font-family: "Rubik", sans-serif;
            font-size: 32px;
            color: #153355;
            font-weight: 600;
            line-height: 35px;
            min-height: 70px;
            z-index: 2;
            @media (max-width: 991px) {
              font-size: 18px;
              line-height: 23px;
            }
          }
        }
      }
    }
  }

  .gradient-overlay {
    background: linear-gradient(
      19deg,
      rgba(244, 244, 244, 1) 0%,
      rgba(255, 255, 255, 1) 23%,
      rgba(255, 255, 255, 1) 31%,
      rgba(255, 255, 255, 0) 100%
    );

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100% 300px;

    transition: $transition;
  }

  .wrapper {
    &:hover .animating-arrow {
      width: 100%;
    }
    &:not(:hover) .animating-arrow {
      width: 35%;
    }
  }
  .animating-arrow {
    &:not(.hover) {
      width: 35%;
    }
    &.hover {
      width: 100%;
    }
    transition: $transition;
    overflow-x: hidden;
    @media (max-width: 991px) {
      img {
        object-fit: contain;
        max-width: 121px;
      }
    }
  }
  @media (max-width: 768px) {
    .col-sm-12.a-e-p-buttons.row {
      justify-content: center;
    }
  }
}

.a-e-p-buttons {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 769px) {
  .pathways .a-e-p-buttons {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .pathways .a-button .wrapper {
    margin-right: 0 !important;
  }

  .pathways .a-button:nth-child(1) {
    padding-right: 30px;
  }

  .pathways .a-button:nth-child(2) {
    padding-right: 15px;
  }

  .pathways .a-button:nth-child(3) {
    padding-left: 15px;
  }
}

.pathways {
  .wrapper {
    position: relative;
  }

  .wrapper::before {
    transition: $transition;
  }

  .wrapper:hover::before {
    content: "";
    opacity: 1;
    background-image: url(http://daviekaplan.hingedev.com/wp-content/uploads/2021/08/griddot.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: 50% auto !important;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .wrapper::before {
    content: "";
    opacity: 0;
    background-image: url(http://daviekaplan.hingedev.com/wp-content/uploads/2021/08/griddot.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: 50% auto !important;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .wrapper:hover .gradient-overlay {
    background-position-y: -48px;
  }
  .a-button .wrapper > a {
    background-position: bottom right !important;
  }

  .a-button:nth-child(1) .wrapper > a {
    background-position: bottom left !important;
  }
}

@media (max-width: 575px) {
  .pathways .wrapper .content {
    max-width: 260px;
    font-size: 27px !important;
    line-height: normal !important;
  }
}
