section.body-section.seo-copy {
  background-image: url(/wp-content/uploads/2021/06/seo-copy-bg.png);
  padding-top: 88px;
  padding-bottom: 60px;
  background-size: cover;
  .container {
  }

  p.section-header {
  }

  h1 {
    font-family: "Rubik";
    color: #f06944;
    font-size: 47px;
    font-weight: 600;
    margin-bottom: 40px;
    max-width: 70%;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }

  p {
    color: #272727;
    font-family: "Rubik", sans-serif;
    margin-bottom: 30px;
  }

  p:nth-last-child(1) {
    margin-bottom: 0 !important;
  }
}

@include phone {
  section.body-section.seo-copy .container {
    @media (min-width: 769px) {
      padding: 50px 20px !important;
    }
  }

  section.body-section.seo-copy {
    @media (min-width: 769px) {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    background-position: bottom center !important;
  }
}

body.home {
  @media (max-width: 575px) {
    .col-md-4.col-sm-12.team-box {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .col-sm-12.row.b-t-p-section {
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding: 0 !important;
    }

    .col-sm-12.col-xs-12 {
      padding: 0 !important;
    }
  }
}
