.home-slider {
  .slide-txt h2 {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-size: 53px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 48px;
      font-weight: 300;
    }
    letter-spacing: 0.025em;
    max-width: 60%;
    @media (max-width: 994px) {
      max-width: 75% !important;
    }
    @media (max-width: 768px) {
      max-width: 100% !important;
    }
    color: black;
  }

  .slide-txt h2 {
    text-transform: none;
    font-weight: 600;
    color: #153355;
    margin-bottom: 40px;
  }
}

.home {
  .slide-txt {
    position: absolute;
    bottom: 15%;
    @include phone {
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      @include button;
    }
  }

  .home-slider .owl-slide,
  .home-slider {
    max-height: 100vh;
    min-height: 700px;
  }

  .content {
    padding-top: 0 !important;
  }

  .slide-vid video,
  .slide-vid source {
    width: 100%;
    object-fit: cover;
  }
}
